# Python caches
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
env/
venv/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python compiled files
*.pyc

# IDE settings
.vscode/
.idea/

# Datasets
datasets/raw/UTKFace
datasets/clean/age
datasets/clean/gender
datasets/age_gender.csv

models